<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xp.librarian.repository.mapper.BookMapper">

    <insert id="insert">
        INSERT INTO `Book`(
            `isbn`,
            `name`,
            `status`,
            `createTime`
        ) VALUES (
            #{isbn},
            #{name},
            #{status},
            #{createTime}
        );
    </insert>

    <update id="update">
        UPDATE `Book`
        <set>
            <if test="set.name != null">
                `name`=#{set.name},
            </if>
            <if test="set.status != null">
                `status`=#{set.status},
            </if>
        </set>
        <trim prefix=" WHERE " prefixOverrides="AND">
            <if test="where.isbn != null">
                AND `isbn`=#{where.isbn}
            </if>
            <if test="where.status != null">
                AND `status`=#{where.status}
            </if>
        </trim>
        LIMIT 1
        ;
    </update>

    <select id="select" resultType="Book">
        SELECT * FROM `Book`
        <trim prefix=" WHERE " prefixOverrides="AND">
            <if test="where.isbn != null">
                AND `isbn`=#{where.isbn}
            </if>
            <if test="where.status != null">
                AND `status`=#{where.status}
            </if>
        </trim>
        ORDER BY `createTime` ASC
        <if test="limits != null &amp;&amp; limits != 0">
            LIMIT #{offset}, #{limits}
        </if>
        ;
    </select>

    <select id="selectIN" resultType="Book">
        SELECT * FROM `Book`
        WHERE
            `isbn` IN
            <foreach collection="isbns" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        ;
    </select>

    <select id="search" resultType="Book">
        SELECT * FROM `Book`
        <trim prefix=" WHERE " prefixOverrides="AND">
            <trim prefix=" AND (" suffix=")" prefixOverrides="OR">
                <if test="where.name != null">
                    OR (locate(#{where.name}, `name`) > 0)
                </if>
                <if test="where.isbn != null">
                    OR (locate(#{where.isbn}, `isbn`) > 0)
                </if>
            </trim>
            <if test="where.status != null">
                AND `status`=#{where.status}
            </if>
        </trim>
        ORDER BY `createTime` ASC
        <if test="limits != null &amp;&amp; limits != 0">
            LIMIT #{offset}, #{limits}
        </if>
        ;
    </select>

</mapper>