<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xp.librarian.repository.mapper.BorrowRecordMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `BorrowRecord`(
            `userId`,
            `isbn`,
            `status`,
            `borrowTime`
        ) VALUES (
            #{userId},
            #{isbn},
            #{status},
            #{borrowTime}
        );
    </insert>

    <select id="select" resultType="xp.librarian.model.dto.BorrowRecordDto">
        SELECT * FROM `BorrowRecord`
        WHERE `userId`=#{userId} AND `isbn`=#{isbn} AND `status`=#{status}
        LIMIT 1;
    </select>

    <select id="selectList" resultType="xp.librarian.model.dto.BorrowRecordDto">
        SELECT * FROM `BorrowRecord`
        WHERE `userId`=#{userId}
        ORDER BY `status` ASC, `borrowTime` DESC
        <if test="limits != null &amp;&amp; limits != 0">
            LIMIT #{offset}, #{limits};
        </if>
        ;
    </select>

    <update id="update">
        UPDATE `BorrowRecord`
        <set>
            <if test="status != null">
                `status`=#{status},
            </if>
            <if test="returnTime != null">
                `returnTime`=#{returnTime},
            </if>
        </set>
        WHERE `id`=#{id}
        LIMIT 1;
    </update>

</mapper>