<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xp.librarian.repository.mapper.RecordMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `Record`(
            `userId`,
            `traceId`,
            `action`,
            `payload`,
            `time`
        ) VALUE (
            #{userId},
            #{traceId},
            #{action},
            #{payload},
            #{time}
        );
    </insert>

    <select id="select" resultType="Record">
        SELECT * FROM `Record`
        <where>
            <if test="where.id != null">
                AND `id`=#{where.id}
            </if>
            <if test="where.userId != null">
                AND `userId`=#{where.userId}
            </if>
            <if test="where.traceId != null">
                AND `traceId`=#{where.traceId}
            </if>
            <if test="where.action != null">
                AND `action`=#{where.action}
            </if>
        </where>
        ORDER BY `time` DESC
        <if test="limits != null &amp;&amp; limits != 0">
            LIMIT #{offset}, #{limits};
        </if>
        ;
    </select>

</mapper>