<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xp.librarian.repository.mapper.ReservationMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `Reservation`(
            `userId`,
            `traceId`,
            `status`,
            `applyingTime`
        ) VALUES (
            #{userId},
            #{traceId},
            #{status},
            #{applyingTime}
        );
    </insert>

    <update id="update">
        UPDATE `Reservation`
        <set>
            <if test="set.status != null">
                `status`=#{set.status},
            </if>
            <if test="set.enabledTime != null">
                `enabledTime`=#{set.enabledTime},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                AND `id`=#{where.id}
            </if>
            <if test="where.userId != null">
                AND `userId`=#{where.userId}
            </if>
            <if test="where.traceId != null">
                AND `traceId`=#{where.traceId}
            </if>
            <if test="where.status != null">
                AND `status`=#{where.status}
            </if>
            <if test="where.enabledTime != null">
                AND `enabledTime`=#{where.enabledTime}
            </if>
        </where>
        LIMIT 1
        ;
    </update>

    <select id="select" resultType="Reservation">
        SELECT * FROM `Reservation`
        <where>
            <if test="where.id != null">
                AND `id`=#{where.id}
            </if>
            <if test="where.userId != null">
                AND `userId`=#{where.userId}
            </if>
            <if test="where.traceId != null">
                AND `traceId`=#{where.traceId}
            </if>
            <if test="where.status != null">
                AND `status`=#{where.status}
            </if>
            <if test="where.enabledTime != null">
                AND `enabledTime`=#{where.enabledTime}
            </if>
        </where>
        ORDER BY `applyingTime` DESC
        <if test="limits != null &amp;&amp; limits != 0">
            LIMIT #{offset}, #{limits};
        </if>
        ;
    </select>

</mapper>