<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xp.librarian.repository.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `User`(
            `username`,
            `password`,
            `status`,
            `name`,
            `avatarUrl`,
            `age`,
            `major`,
            `phone`,
            `email`,
            `remarks`,
            `createTime`
        ) VALUES (
            LOWER(#{username}),
            MD5(#{password}),
            #{status},
            #{name},
            #{avatarUrl},
            #{age},
            #{major},
            #{phone},
            #{email},
            #{remarks},
            #{createTime}
        );
    </insert>

    <update id="update">
        UPDATE `User`
        <set>
            <if test="set.username != null">
                `username`=LOWER(#{set.username}),
            </if>
            <if test="set.password != null">
                `password`=MD5(#{set.password}),
            </if>
            <if test="set.status != null">
                `status`=#{set.status},
            </if>
            <if test="set.name != null">
                `name`=#{set.name},
            </if>
            <if test="set.avatarUrl != null">
                `avatarUrl`=#{set.avatarUrl},
            </if>
            <if test="set.age != null">
                `age`=#{set.age},
            </if>
            <if test="set.major != null">
                `major`=#{set.major},
            </if>
            <if test="set.phone != null">
                `phone`=#{set.phone},
            </if>
            <if test="set.email != null">
                `email`=#{set.email},
            </if>
            <if test="set.remarks != null">
                `remarks`=#{set.remarks},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                AND `id`=#{where.id}
            </if>
            <if test="where.username != null">
                AND `username`=LOWER(#{where.username})
            </if>
            <if test="where.password != null">
                AND `password`=MD5(#{where.password})
            </if>
            <if test="where.status != null">
                AND `status`=#{where.status}
            </if>
        </where>
        LIMIT 1
        ;
    </update>

    <select id="select" resultType="User">
        SELECT * FROM `User`
        <where>
            <if test="where.id != null">
                AND `id`=#{where.id}
            </if>
            <if test="where.username != null">
                AND `username`=LOWER(#{where.username})
            </if>
            <if test="where.password != null">
                AND `password`=MD5(#{where.password})
            </if>
            <if test="where.status != null">
                AND `status`=#{where.status}
            </if>
        </where>
        ORDER BY `createTime` ASC
        <if test="limits != null &amp;&amp; limits != 0">
            LIMIT #{offset}, #{limits};
        </if>
        ;
    </select>

</mapper>