<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xp.librarian.repository.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `User`(
            `username`,
            `password`,
            `role`,
            `status`,
            `name`,
            `avatarUrl`,
            `age`,
            `major`,
            `phone`,
            `email`,
            `remarks`,
            `createTime`
        ) VALUES (
            #{username},
            MD5(#{password}),
            #{role},
            #{status},
            #{name},
            #{avatarUrl},
            #{age},
            #{major},
            #{phone},
            #{email},
            #{remarks},
            #{createTime}
        );
    </insert>

    <select id="selectByUsernameAndPassword" resultType="xp.librarian.model.dto.UserDto">
        SELECT * FROM `User`
        WHERE LOWER(`username`)=LOWER(#{username}) AND `password`=MD5(#{password})
        LIMIT 1;
    </select>

    <select id="select" resultType="xp.librarian.model.dto.UserDto">
        SELECT * FROM `User`
        WHERE `id`=#{id}
        LIMIT 1;
    </select>

    <select id="selectList" resultType="xp.librarian.model.dto.UserDto">
        SELECT * FROM `User`
        ORDER BY `createTime` ASC
        <if test="limits != null &amp;&amp; limits != 0">
            LIMIT #{offset}, #{limits};
        </if>
        ;
    </select>

    <update id="update">
        UPDATE `User`
        <set>
            <if test="password != null">
                `password`=MD5(#{password}),
            </if>
            <if test="status != null">
                `status`=#{status},
            </if>
            <if test="name != null">
                `name`=#{name},
            </if>
            <if test="avatarUrl != null">
                `avatarUrl`=#{avatarUrl},
            </if>
            <if test="age != null">
                `age`=#{age},
            </if>
            <if test="major != null">
                `major`=#{major},
            </if>
            <if test="phone != null">
                `phone`=#{phone},
            </if>
            <if test="email != null">
                `email`=#{email},
            </if>
            <if test="remarks != null">
                `remarks`=#{remarks},
            </if>
        </set>
        WHERE `id`=#{id}
        LIMIT 1;
    </update>

    <update id="updateStatus">
        UPDATE `User`
        SET `status`=#{newStatus}
        WHERE `id`=#{id} AND `status`=#{oldStatus}
        LIMIT 1;
    </update>

</mapper>